{% extends "base.html" %}
{% block title %}Review Flagged Accounts{% endblock %}
{% block breadcrumb %}Review Flagged Accounts{% endblock %}

{% block content %}

<h1 class="text-center">Review Flagged Accounts</h1>
<h5 class="text-center"><strong>The other tools compile suspicious accounts here!</strong></h5>

<form method="post">
    <div class="container">
        <div class="row justify-content-center">
            {% for accountId in accounts_to_review %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 d-flex flex-column">
                        <div class="card-body text-center d-flex flex-column justify-content-between">
                            <a href="https://www.roblox.com/users/{{ accountId }}/profile" target="_blank">
                                <h1 class="card-title">{{accountId}}</h1>
                            </a>
                            <div class="mt-3">
                                <div class="d-flex justify-content-center flex-wrap">
                                    <!-- Safe Button -->
                                    <button type="submit" name="safeButton" value="{{ accountId }}" class="btn btn-success btn-lg mx-1 mb-2">Safe</button>
                                    <!-- Unsafe Button -->
                                    <button type="submit" name="unsafeButton" value="{{ accountId }}" class="btn btn-danger btn-lg mx-1 mb-2">Unsafe</button>
                                    <!-- Pass Button -->
                                    <button type="submit" name="passButton" value="{{ accountId }}" class="btn btn-warning btn-lg mx-1 mb-2">Pass</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</form>

{% endblock %}